# object file
*.o

# Ada library information
*.ali

# static lib files
*.a

# vscode settings
.vscode/

# any obj folder
**/obj

# module working files
*.cmd
*.ko
*.mod.c
*.symvers
*.order
*.stderr
*.stdout
*.lexch
*.d
